<body>
  <div class="bg-primary p-3">
    <h1>Laundry Service</h1>
  </div>
  <div class="">
    <h2 class="relative bg-primary">Add Clothing</h2>
    <form>
      <label>Name:</label>
      <input type="text" required>
      <label>Description:</label>
      <textarea required></textarea>
      <button type="submit">Add</button>
    </form>
  </div>

  <p-table [value]="clothing" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" [lazy]="true" (onLazyLoad)="loadClothing()">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Color</th>
          <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cloth>
        <tr>
          <td>{{ cloth.name }}</td>
          <td>{{ cloth.size }}</td>
          <td>{{ cloth.color }}</td>
          <td>{{ cloth.status }}</td>
        </tr>
    </ng-template>
  </p-table>
</body>
<router-outlet></router-outlet>