<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laundry</title>
</head>
<body>
  <h1 class="fixed bg-primary p-3">Laundry Service</h1>
  <div class="">
    <h2>Add Clothing</h2>
    <form>
      <label>Name:</label>
      <input type="text" required>
      <label>Description:</label>
      <textarea required></textarea>
      <button type="submit">Add</button>
    </form>
  </div>
  <div>
    <h2>All Clothing</h2>
    <ul>
      <li>
      </li>
    </ul>
  </div>
</body>
</html>